SOURCEKIND = WAVEFORM 
SOURCEFORMAT = WAV 
SOURCERATE = 1250                     # 1250 sampling frequency is 8k 
TARGETKIND = MFCC_D_A_Z_0    # type of feature vector to extract
TARGETRATE = 100000                 #frame shift is 10 ms 
SAVECOMPRESSED = F 
SAVEWITHCRC = F 
WINDOWSIZE = 250000.0             #frame size is 25 ms     
USEHAMMING = T 
PREEMCOEF = 0.97 
NUMCHANS = 26 
#LOFREQ = 0 
#HIFREQ = 4000 
CEPLIFTER = 22 
NUMCEPS = 12 
ENORMALISE = F
